@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

::before,
::after {
  box-sizing: border-box;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  margin: 0;
  padding: 0;
}

.card {
  color: var(--clr-neutral-100);
  background-image: url('/Firewatch2.png');
  background-size: cover;
  padding: 20rem 0 0;
  max-width: 45ch;
  line-height: 1.6;
}

.card-content {
  padding: 1.5em;
  background: linear-gradient(
    hsl(0, 0%, 0% / 0),
    hsl(0, 0%, 0% / 0.2) 10%,
    hsl(0, 0%, 0% / 1)
  ); /* /1 is opacity */
}

/* Begin carousel*/
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* perspective: 5000px; */
}

.carousel {
  /* width: 400px;
  height: 400px; */
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCarousel 10s linear infinite; /* Adjust the duration as needed */
}

.carousel-ball {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  /* position: absolute; */
  /* background-color: #ffffffb1; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 18px; */
  transition: transform 0.5s;
}

.current {
  border-radius: 50%;
  width: 110px;
}

@keyframes rotateCarousel {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.diagonal {
  --skew-angle: 5deg;
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: '';
  background-image: linear-gradient(45deg, #0062ff, #ff3c49);
  position: absolute;
  z-index: 20;
  inset: 0;
  transform: skewY(-5deg);
}

.arrow-svg {
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(149deg)
    brightness(124%) contrast(100%);
}

.hide {
  display: none;
}
.hideShowDiv:hover + .hide {
  display: block;
  color: red;
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -11;
}

.colorCycle {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: #ff6e6e;
  }
  50% {
    color: #5596ff;
  }
  100% {
    color: #ff6e6e;
  }
}

.cardStyle {
  box-shadow: -0.2rem 0.3rem 1.5rem black;
}

.smallCyclePosition {
  top: 43%;
}

.submitBtn:disabled[data-disabled] {
  border-color: transparent;
  background-color: lightgray;
}

/* FORM SUBMISSION SUCCESS CHECKMARK STYLES */
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #1253d5;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #2564e1;
  fill: #228be6;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
/* END FORM SUBMISSION SUCCESS CHECKMARK STYLES */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dots-appear {
  animation: fadeIn 1s forwards ease-in;
  animation-delay: 1s;
}

